<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
    <meta name="author" content="{{ site.author }}">
    
    {% if page.desc_meta%}
        {% capture desc_meta %}
            {% if page.desc_meta %}
                {{ page.desc_meta }}
            {% else %}
                {{ content | raw_content }}
            {% endif %}
        {% endcapture %}
    	<meta property="og:description" content="{{ desc_meta | strip_html | condense_spaces | truncate:150 }}">
    {% else %}
        {% if site.description %}
            <meta property="og:description" content="{{ site.description }}">
            {{ description}}
        {% else %} {{ content | raw_content }}
        {% endif %} 
        
    {% endif %}

    {% if page.image_meta %}
        <meta property="og:image" content="{{ page.image_meta }}">
    {% else %}
        <meta property="og:image" content="http://carloscuba.com.pe/images/ccLogoImage.png">
    {% endif %}
	
    <!-- {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %} -->
    
    {% capture keywords %}{% if page.keywords %}{{ page.keywords }}{% elsif site.keywords %}{{ site.keywords }}{% endif %}{% endcapture %}
    <meta name="keywords" content="{{ keywords }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
	<link rel="canonical" href="{{ canonical }}">
	<!-- <link rel="shortcut icon" href="{{ root_url }}/fav32.ico"> -->
    <link rel="shortcut icon" href="https://lh4.googleusercontent.com/-73lGR68HRkw/Uc3g3LgSoFI/AAAAAAAAAJQ/Sx1ACpRaIt4/s800/fav32.jpg">
    <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <script type="text/javascript" src="{{ root_url }}/javascripts/jquery-tapir.js"></script>

    <!-- remove or comment it to disable ajaxification -->   
    <script src="/javascripts/ajaxify.js"></script>
   
    {% include custom/head.html %}
    {% include google_analytics.html %}
</head>
